In [7]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [8]:
df = pd.read_csv('Support files/Population.csv')
df.head(2)

,STATE,COUNTY,FIPS,STNAME,CTYNAME,Name,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,UNDER5_MALE,UNDER5_FEM,AGE513_TOT,AGE513_MALE,AGE513_FEM,AGE1417_TOT,AGE1417_MALE,AGE1417_FEM,AGE1824_TOT,AGE1824_MALE,AGE1824_FEM,AGE16PLUS_TOT,AGE16PLUS_MALE,AGE16PLUS_FEM,AGE18PLUS_TOT,AGE18PLUS_MALE,AGE18PLUS_FEM,AGE1544_TOT,AGE1544_MALE,AGE1544_FEM,AGE2544_TOT,AGE2544_MALE,AGE2544_FEM,AGE4564_TOT,AGE4564_MALE,AGE4564_FEM,AGE65PLUS_TOT,AGE65PLUS_MALE,AGE65PLUS_FEM,AGE04_TOT,AGE04_MALE,AGE04_FEM,AGE59_TOT,AGE59_MALE,AGE59_FEM,AGE1014_TOT,AGE1014_MALE,AGE1014_FEM,AGE1519_TOT,AGE1519_MALE,AGE1519_FEM,AGE2024_TOT,AGE2024_MALE,AGE2024_FEM,AGE2529_TOT,AGE2529_MALE,AGE2529_FEM,AGE3034_TOT,AGE3034_MALE,AGE3034_FEM,AGE3539_TOT,AGE3539_MALE,AGE3539_FEM,AGE4044_TOT,AGE4044_MALE,AGE4044_FEM,AGE4549_TOT,AGE4549_MALE,AGE4549_FEM,AGE5054_TOT,AGE5054_MALE,AGE5054_FEM,AGE5559_TOT,AGE5559_MALE,AGE5559_FEM,AGE6064_TOT,AGE6064_MALE,AGE6064_FEM,AGE6569_TOT,AGE6569_MALE,AGE6569_FEM,AGE7074_TOT,AGE7074_MALE,AGE7074_FEM,AGE7579_TOT,AGE7579_MALE,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,1,1,1001,Alabama,Autauga County,"Alabama, Autauga",56130,27231,28899,3346,1739,1607,6566,3366,3200,3114,1553,1561,4416,2267,2149,44657,21353,23304,43104,20573,22531,21567,10606,10961,14798,7166,7632,14848,7161,7687,9042,3979,5063,3346,1739,1607,3494,1785,1709,3833,1961,1872,3622,1825,1797,3147,1615,1532,3822,1893,1929,3636,1756,1880,3743,1818,1925,3597,1699,1898,3820,1844,1976,3675,1811,1864,3912,1915,1997,3441,1591,1850,2790,1351,1439,2386,1032,1354,1796,749,1047,1142,494,648,928,353,575,39.3,37.8,40.5
1,1,3,1003,Alabama,Baldwin County,"Alabama, Baldwin",227989,110420,117569,12092,6319,5773,24636,12572,12064,11536,5787,5749,16067,8055,8012,185376,88563,96813,179725,85742,93983,77312,38054,39258,52651,25693,26958,62077,29384,32693,48930,22610,26320,12092,6319,5773,13356,6874,6482,14222,7179,7043,13371,6684,6687,11290,5677,5613,12517,6254,6263,12865,6256,6609,13524,6579,6945,13745,6604,7141,14328,6941,7387,14519,6963,7556,16420,7756,8664,16810,7724,9086,15519,7146,8373,13806,6532,7274,9457,4503,4954,5607,2554,3053,4541,1875,2666,43.8,42.5,45.2

In [9]:
df['UNDER5'] = df['UNDER5_TOT']
df['AGE517'] = df['AGE513_TOT'] + df['AGE1417_TOT']
df['AGE1829'] = df['AGE1824_TOT'] + df['AGE2529_TOT']
df['AGE3039'] = df['AGE3034_TOT'] + df['AGE3539_TOT']
df['AGE4049'] = df['AGE4044_TOT'] + df['AGE4549_TOT']
df['AGE5064'] = df['AGE5054_TOT'] + df['AGE5559_TOT']+ df['AGE6064_TOT']
df['AGE6574'] = df['AGE6569_TOT'] + df['AGE7074_TOT']
df['AGE75PLUS'] = df['AGE7579_TOT'] + df['AGE8084_TOT'] + df['AGE85PLUS_TOT']

In [10]:
selected_age_groups = [
    'UNDER5', 'AGE517', 'AGE1829', 'AGE3039', 'AGE4049',
    'AGE5064', 'AGE6574', 'AGE75PLUS'
]
for age_group in selected_age_groups:
    df[age_group] /= df['POPESTIMATE']
    
df = df[['FIPS'] + selected_age_groups]
df.head(3)

,FIPS,UNDER5,AGE517,AGE1829,AGE3039,AGE4049,AGE5064,AGE6574,AGE75PLUS
0,1001,0.059612,0.172457,0.146766,0.131463,0.132140,0.196472,0.092215,0.068876
1,1003,0.053038,0.158657,0.125374,0.115747,0.123133,0.209436,0.128625,0.085991
2,1005,0.053343,0.151631,0.152280,0.130091,0.122668,0.188058,0.117840,0.084091

In [11]:
df.round(6).to_csv('CovidMay17-2022/Age Groups.csv', index=False)